// Navigation code here

.navigation {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 40%;
    
}

.heading {
    display: flex;
    justify-content: center;
    padding: @mediumPadding;

    h1 {
        font-size: @xLargeFontSize;
    }
}

nav {
    display: flex;
    justify-content: space-evenly;
    padding: @smallPadding;

    a {
        font-size: @largeFontSize;
    }
    
}